src/main/configurations/RegelsAPI/Common/xsd/regelsToJson.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="variables">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="woonplaats">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="value"/>
              <xs:element type="xs:string" name="type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="leeftijd">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="value"/>
              <xs:element type="xs:string" name="type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="aowLeeftijdBehaald">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="value"/>
              <xs:element type="xs:string" name="type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ouderDan21">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="value"/>
              <xs:element type="xs:string" name="type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="inkomenPerMaand">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="value"/>
              <xs:element type="xs:string" name="type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="vermogen">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="value"/>
              <xs:element type="xs:string" name="type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>